body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body{
    height:auto;
    min-height: 500px;
    width: 350px;
    margin-top: 20px;
    background-color: rgb(131, 137, 143);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(113, 119, 124);
    border-width: 10px;
}

.calc-screen{
    height:auto;
    min-height: 140px;
    width: 290px;
    background-color: rgb(52, 77, 50);

    margin-top: 30px;
    border-radius: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    word-wrap: break-word;
    word-break: break-all;

    border-style: solid;
    border-color: rgb(43, 65, 42);
    border-width: 5px;
}

.screen-upper{
    height:auto;
    min-height:50px;
    font-size: 30px;
    width: 290px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen-lower{
    height:auto;
    min-height: 100px;
    font-size: 45px;
    width: 290px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calc-keyboard{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 35px;
}

.row{
    display: flex;
    column-gap: 12px;
}

.calc-button{
    color: white;
    background-color: rgb(14, 27, 39);
    height: 50px;
    width: 50px;
    border-radius: 15px;
    font-size: 20px;
}

.calc-button:hover{
    cursor: grab;
}

.ac,
.del{
    background-color: red;
    font-size: 18px;
}